@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu&display=swap%27');

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body * {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Caveat', cursive !important;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: auto;
  margin: 0 auto;
}
.navegacao {
  display: flex;
  justify-content: space-around;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
  text-shadow: 2px 2px #000000;
}

main {
  width: auto;
  margin: auto;
}

form {
  margin: 60px 0;
}

fieldset {
  border: none;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  padding-top: 7px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.input-padrao-msg {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}
.novidades {
  margin-bottom: 20px;
  font-size: 20px;
}
.enviar {
  width: 40%;
  margin-top: 15px;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  text-shadow: 2px 2px #000000;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}
table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-size: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

footer {
  text-align: center;
  background: url('../imagens/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  
  .caixa,
  .navegacao,
  .main,
  .img {
    width: auto;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
    margin: 0 auto;
  }
  .mainForm {
    text-align: center;
    margin: 0 auto;
  }
  .navegacao {
    text-align: center;
    padding-bottom: 40px;
  }
  nav {
    position: static;
  }
  .input-padrao {
    text-align: center;
    margin: 0px auto;
  }
  .input-padrao-msg {
    text-align: center;
    margin: 0px auto;
  }

  form label {
    padding: 8px 20px 10px 10px;
  }
  .enviar {
    margin: 0% 30% 0% 30%;
  }
  table {
    margin: 0% 30% 0% 30%;
  }
}
