@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu&display=swap%27');

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;500;700&family=Rokkitt&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body * {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Caveat', cursive !important;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.navegacao {
  display: flex;
  justify-content: space-around;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
  text-shadow: 2px 2px #000000;
}

.banner {
  width: 100%;
}
.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-principal {
  text-align: center;
  padding-left: 20px;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  font-family: 'Rokkitt', cursive !important;
  text-shadow: 1px 1px #000000;
}

.principal {
  padding: 3em o;
  background: #fefefe;
  width: auto;
  margin: 0 auto;
}

principal p {
  text-align: center;
  margin: 1em;
}
.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 20px;
}

.mapas {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: auto;
  margin: 0 auto;
}

.mapas p {
  margin: 0 0 2em;
  text-align: center;
}

.missao {
  font-size: 20px;
}

em strong {
  color: black;
}

.itens {
  line-height: 1.5;
  font-style: italic;
}
li {
  list-style-type: none;
}
.itens:before {
  content: '★ ';
}
.itens:first-child {
  font-weight: bold;
}

.beneficios {
  padding: 2em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: auto;
  margin: 0 auto;
}

.lista-beneficios {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.imagem-beneficios {
  width: 55%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 5px #000000;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  max-width: 560px;
  margin: 2em auto;
  box-shadow: 10px 10px 5px #000000;
}

footer {
  text-align: center;
  background: url('../imagens/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .caixa {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
    margin: 1;
    padding: 0;
  }
  h1 {
    text-align: center;
    margin: 0 auto;
  }
  nav {
    position: static;
  }
  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }
}
