@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu&display=swap%27');

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body * {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Caveat', cursive !important;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: auto;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
  text-shadow: 2px 2px #000000;
}

.produtos {
  width: auto;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 1.5% 1.5% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: #000000 solid 2px;
  border-radius: 10px;
  transition: 300ms ease;
}

.produtos li:hover {
  border-color: #c78c19;
  transform: scale(1.1);
}

.produtos li:active {
  border-color: #088c19;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url('../imagens/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .caixa,
  .produtos {
    width: auto;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
  }
  .navegacao {
    text-align: center;
    padding-bottom: 40px;
  }
  nav {
    position: static;
  }
  .produtos li {
    width: auto;
    display: block;
    margin: 30px 20px 30px 20px;
    align-items: center;
  }
}
