@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu&display=swap%27');

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body * {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Caveat', cursive !important;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.navegacao {
  display: flex;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

#banner {
  width: 100%;
}
.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
}
.beneficios {
  background: #ffffff;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficio {
  width: 50%;
}

footer {
  text-align: center;
  background: url('../00.imagens/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
}
